<div class="posts-page">
  <h1>All Blog Posts</h1>
  <div class="posts-list">
    <% @posts.each do |post| %>
      <article class="post-card">
        <h2 class="post-title"><%= post.title %></h2>
        <p class="post-body"><%= post.description %></p>
        <% if user_signed_in? %>
          <p class="post-meta">Posted by: <span class="post-author"><%= post.user.username %></span></p>
        <% end %>
      </article>
    <% end %>
  </div>
</div>